kicad/TeensyBoardZ80-rescue.lib
kicad/TeensyBoardZ80.bak
kicad/TeensyBoardZ80.bck
kicad/TeensyBoardZ80.csv
kicad/TeensyBoardZ80.kicad_pcb-bak
kicad/TeensyBoardZ80.net
kicad/TeensyBoardZ80.sch.svg
kicad/TeensyBoardZ80.xml
kicad/fp-lib-table
TeensyBoardZ80
images/template.png
linux/
