*.z80 linguist-language=Assembly
*.Z80 linguist-language=Assembly
*.for linguist-documentation
*.FOR linguist-documentation
*.toc linguist-documentation
*.TOC linguist-documentation
disk/A/4/* linguist-documentation
